body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

}



.bigoverlay {
    z-index: 99;
}

a {
    text-decoration: none;

}

.bgimage {
    background-image: linear-gradient(90deg, rgba(230, 31, 31, 0.562) 0%, rgba(230, 31, 31, 0.568) 100%), url(/imgs/events-heavenly-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 680px;
}


.navwidth {
    width: 250px;
}

.navbar-nav {
    --bs-nav-link-color: none;
    --bs-nav-link-hover-color: none;
}

.nav-item {
    position: relative;
    left: 15px;
    padding-block: 10px;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
}

.nav-item a {
    color: white;
}



.close {
    border: none;
    background-color: transparent;
    color: white;
    position: relative;
    left: 178px;
    transition: 0.5s;

}

.close:hover,
.nav-item:hover a {
    transition: 0.3s;

    color: rgba(158, 21, 21, 0.829)
}




.openparent {
    position: relative;
    left:260px;
    width: 150px;
}


.open {
    cursor: pointer;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
}


.partyparent {
    position: relative;
    left: 100px;
    width: 25%;
    margin-left: 200px;

}

.bgimage div h1.party {
    margin-top: 300px;
    font-size: 60px;
    font-weight: 500;
    line-height: 72px;

}

@media (min-width: 768px) {
    .partyparent {
        width: 100%;
        margin-left: 0px;

    }

}


.fun {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


/* BLOCKS SECTION SINGERS  */

.blockstopmargin {
    margin-top: 100px;
}

.blockhead {
    background-color: #E68285;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
}


.blockbody {
    display: none;
    padding: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}


.blocks {
    width: 50%;
}

@media (min-width: 768px) {
    .blocks {
        width: 75%;

    }
}


/* COUNTER DOWN SECTION  */

.timerbgimage {
    background-image: linear-gradient(90deg, rgba(230, 31, 31, 0.562) 0%, rgba(230, 31, 31, 0.568) 100%), url(/imgs/invitation-2508607__340.jpg);

    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 100px;
}

.timersection h2 {
    border: 2px solid;
    padding: 65px;
    padding-inline: 100px;
    text-align: center;

}

.timersection .timerbgimage div {
    padding-block: 75px;

}

@media (min-width: 768px) {
    .timersection .timerbgimage div h2 {
        padding-inline: 60px;
    }

}


/* CONTACT US  */

.contactus {

    margin-top: 200px;
}

.contactus .container {
    width: 60%;

}

.joinus {
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
}


.joinus+p {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: rgb(119, 119, 119);
}

.contactinfo h5{
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color:rgb(68,68,68);
}

.contactinfo p,.street,.phnumb,.email{
font-weight:400 ;
font-size: 16px;
line-height: 26px;
color:rgb(119,119,119);
}
.email span{
    color:red;
}


.contactinfo p + ul li {
    padding-block: 20px;
}
.contactinfo p + ul li i{
    padding-right: 20px;
}

.contactinfo p  + ul + ul li{ 
cursor: pointer;
    color:rgb(119,119,119) ;
    margin: 10px;
padding-inline: 12px;
border: 1px solid;
width: 40px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
}

.contactinfo p + ul + ul li:hover{
    background-color:RGB(214, 46, 51)
    ;
    color: white;
}

textarea{

    height: 242px;
}





